.contact1-contact20 {
  gap: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact1-max-width {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact1-content1 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact1-contact-info1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact1-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact1-text1 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter";
}
 
.contact1-text2 {
  text-align: center;
  font-family: "Inter";
}
 
.contact1-email {
  font-size: 18px;
  text-align: center;
  font-family: "Inter";
}
 
.contact1-content3 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact1-contact-info2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact1-content4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact1-text3 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter";
}
 
.contact1-text4 {
  text-align: center;
  font-family: "Inter";
}
 
.contact1-address {
  font-size: 18px;
  text-align: center;
  font-family: "Inter";
}
 
.contact1-text5 {
  display: inline-block;
}
 
.contact1-text6 {
  display: inline-block;
}
 
.contact1-text7 {
  display: inline-block;
}
 
.contact1-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact1-max-width {
    flex-direction: column;
  }
}
