.team3-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.team3-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-content2 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-content3 {
  gap: var(--dl-layout-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.team3-row1 {
  gap: 64px;
  display: flex;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team3-card1 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-text13 {
  font-style: normal;
  font-weight: 600;
}
 
.team3-text15 {
  text-align: center;
}
 
.team3-social-icons1 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.team3-card2 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-text16 {
  font-style: normal;
  font-weight: 600;
}
 
.team3-text18 {
  text-align: center;
}
 
.team3-social-icons2 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.team3-row2 {
  gap: var(--dl-layout-space-fourunits);
  display: flex;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.team3-card3 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-text19 {
  font-style: normal;
  font-weight: 600;
}
 
.team3-text21 {
  text-align: center;
}
 
.team3-social-icons3 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.team3-card4 {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team3-text22 {
  font-style: normal;
  font-weight: 600;
}
 
.team3-text24 {
  text-align: center;
}
 
.team3-social-icons4 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.team3-content8 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.team3-content9 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team3-text26 {
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: 150%;
  font-stretch: normal;
}
 
.team3-button {
  width: 100%;
  max-width: 300px;
}
 
.team3-text27 {
  color: var(--dl-color-theme-neutral-light);
}
 
.team3-text28 {
  display: inline-block;
}
 
.team3-text29 {
  display: inline-block;
}
 
.team3-text30 {
  display: inline-block;
}
 
.team3-text31 {
  display: inline-block;
}
 
.team3-text32 {
  display: inline-block;
}
 
.team3-text33 {
  display: inline-block;
}
 
.team3-text34 {
  display: inline-block;
}
 
.team3-text35 {
  display: inline-block;
}
 
.team3-text36 {
  display: inline-block;
}
 
.team3-text37 {
  display: inline-block;
}
 
.team3-text38 {
  display: inline-block;
}
 
.team3-text39 {
  display: inline-block;
}
 
.team3-text40 {
  display: inline-block;
}
 
.team3-text41 {
  display: inline-block;
}
 
.team3-text42 {
  display: inline-block;
}
 
.team3-text43 {
  display: inline-block;
}
 
.team3-text44 {
  display: inline-block;
}
 
.team3-text45 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .team3-row1 {
    align-items: center;
    flex-direction: row;
  }
  .team3-row2 {
    align-items: center;
    flex-direction: row;
  }
}
 
@media(max-width: 767px) {
  .team3-text12 {
    text-align: center;
  }
  .team3-row1 {
    gap: 32px;
  }
  .team3-row2 {
    gap: 32px;
  }
}
 
@media(max-width: 479px) {
  .team3-row1 {
    flex-direction: column;
  }
  .team3-member-image1 {
    height: 450px;
  }
  .team3-member-image2 {
    height: 450px;
  }
  .team3-row2 {
    flex-direction: column;
  }
  .team3-member-image3 {
    height: 450px;
  }
  .team3-member-image4 {
    height: 450px;
  }
  .team3-button {
    width: 100%;
  }
}
